<div class="col-md-8">
  <% @posts.each do |post| %>
    
    <h2>タイトル：<%= post.title %></h2>
    <p>カテゴリ：<%= post.category %></p>
    <p>作成日：<%= post.created_at %></p>
    <p><%= truncate(post.body, length:50) %></p>
    <%= link_to '続きを読む', post, class: 'btn btn-default'%>
    
  <% end %>
  <br>
  
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <img src="<%= @author.image_url %>">
    <h2>著者名:<%= @author.name %></h2>
    <p>詳細:<%= @author.description %></p>
  </div>
  <div class="list-group">
      <% @recent_posts.each do |post|%>
        <%= link_to post.title, post, class: 'list-group-item'%>
      <% end %>
  </div>
  <div class="list-group">
      <% @all_category.each do |category|%>
        <%= link_to category, category_path(category), class: 'list-group-item'%>
      <% end %>
  </div>
</div>
