<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1> 

<p>
  <strong>カテゴリ:</strong><%= @post.category %>
</p>
<hr>
<p>
  <%= @post.body %>
</p>
<hr>
<%= link_to '編集する', edit_post_path(@post), class: 'btn btn-default' %> |
<%= link_to '削除する', post_path(@post), method: :delete, class: 'btn btn-danger' %>
